@media (max-width:1680px){
	.dc-closemenu .dc-companysinfo{margin-top:-56px;}
	.dc-wrapper .dc-main { padding-left: 40px; }
	.dc-wrapper .dc-sidebarwrapper { width: 0; }
	.dc-wrapper.dc-closemenu .dc-sidebarwrapper{width:270px;}
	.dc-closemenu .dc-companysinfo{
		margin-left: 0;
		padding: 0 30px 30px;
	}
	.dc-closemenu .dc-navdashboard{padding: 0;}
	.dc-companysinfo{
		padding: 0;
		margin-left: 100px;
	}
	.dc-btnmenutoggle {
		display: block;
		left: 0;
		border-radius: 0 3px 3px 0;
		color: #fff;
		background: var(--themecolor);
	}
	.dc-closemenu .dc-btnmenutoggle{border-radius: 4px;}
	.dc-closemenu .dc-sidebarwrapper .dc-navdashboard-footer{display: block;}
	.dc-sidebarwrapper .dc-navdashboard-footer{display: none;}
	.dc-headerform-holder{
		margin-left:50px; 
	}
	.dc-dashboardsave .dc-proposalsr .dc-proposalsrcontent figure{
		margin:  0 15px 0 0;
		padding:  0 15px 0 0;
	}
	.dc-sidebarwrapper .dc-btnmenutoggle .ti-arrow-left:before{content: "\e628";}
	.dc-closemenu .dc-sidebarwrapper .dc-btnmenutoggle .ti-arrow-left:before{content: "\e629";}
}
@media (max-width:1536px){
	.dc-proposalsrcontent{
		flex-direction: column;
		align-items: flex-start;
	}
	.dc-dashboardsave .dc-proposalsr .dc-proposalsrcontent figure{
		border: 0;
		margin: 0 0 15px;
		padding: 0 0 15px;
		border-bottom: 1px solid #ddd;
	}
	.dc-proposalsrcontent .dc-title{
		width: 100%;
		padding: 0;
	}
	.dc-hiredfreelance .dc-userlistinghold .dc-proposaldetails{
		float: left;
		width: 100%;
	}
}
@media (max-width:1440px){
	.dc-recentapointdate-holder:after{display: none;}
	.dc-spaces-wrap li{width: 33.33%;}
	.dc-downloads-files li{width: 100%;}
	.dc-profilephotocontent .dc-attachfilevtwo li{width: 50%;}
	.dc-userform fieldset .form-group.form-select-half{width: 100%;}
	.dc-postedsilderitem .dc-consultation-title{
		width: 100%;
		float: left;
		margin: 10px 0 0;
	}
	.show-sform .wt-searchbtn,
	.dc-search-headerform{
		right: 0;
		top: 0;
		width: 100%;
		display: none;
		padding: 13px 0;
		background: #fff;
		position: absolute;
	}
	.show-sform .dc-search-headerform,
	.dc-removeform,
	.dc-searchbtn{display: block;}
	.dc-headerform{float: right;}
	.dc-headerform-holder{
		margin: 0;
		float: right;
	}
}
@media (max-width:1366px){
	.sj-paymentmethod li a i{width: 60px;}
	.sj-paymentmethod li a span{padding-left: 20px;}
	.dc-apointments-holder .dc-recentapointdate-holder,
	.dc-apointments-holder .dc-appointment-calendar{width: 100%;}
	.dc-apointments-holder{display: block;}
	.dc-apointments-holder .dc-recentapointdate-holder{margin-top:30px; }
	.dc-apointments-holder .dc-recentapointdate{width: 100%;}
	.dc-wrap-colors{width: 50%}
	.dc-wrap-colors:nth-child(4){margin-top:30px; }
	.la-article-holder .dc-articles-list .dc-articlecontent{
		float: left;
		width: 100%;
		border: 1px solid #eee;
		border-radius: 0 0 4px 4px;
	}
	.la-article-holder .dc-listedarticle .dc-articles .dc-articleimg{width: 100%;border-radius: 4px 4px 0 0;}
	.la-article-holder .dc-listedarticle .dc-articles .dc-articleimg > img{max-width: 100%;border-radius: 4px 4px 0 0}
	.la-article-holder .dc-listedarticle .dc-articles .dc-articleslist-content .dc-articlecontent .dc-title{
		min-width: 0;
		padding: 20px;
	}
}
@media (max-width:1199px){
	.dc-hiredfreelance .dc-userlistinghold .dc-proposaldetails{
		float: none;
		width: auto;
	}
	.dc-dashboardsave .dc-proposalsr .dc-proposalsrcontent figure{
		border: 0;
		margin: 0 15px 0 0;
		padding: 0 15px 0 0;
		border-right: 1px solid #ddd;
	}
	.dc-proposalsrcontent{flex-direction: row;}
	.dc-spaces-wrap li{width: 25%;}
	.dc-dashboardtabs{width: 100%;}
    .dc-dashboardtabs .dc-tabstitle{display: block;}
    .dc-tabscontent,
    .dc-dashboardtabsholder .dc-tabscontent{width: 100%;}
	.dc-postedsilderitem .dc-consultation-title{
		margin:0;
		width: auto;
		float: none;
	}
	.dc-jobpostedholder > div > div:nth-child(n+3) .dc-insightsitem{margin-top: 15px;}
	.dc-dbsectionspace-test .dc-dashboardboxcontent > ul > li:first-child {width: 40%;}
    .dc-dbsectionspace-test .dc-dashboardboxcontent > ul > li:last-child {width: 60%;}
}
@media (max-width:991px){
	.dc-package{width: 50%;}
	.dc-package:nth-child(2){border: 0;}
	.dc-package:nth-child(n+3){border-top: 1px solid #eff2f5;}
	.dc-offersmessages ul li:nth-child(2){
		width: 100%;
		display: none;
	}
	.dc-openmsg .dc-offersmessages ul li:nth-child(2){display: block;}
	.dc-openmsg .dc-offersmessages ul li:first-child{display: none;}
	.dc-offersmessages ul li:first-child{width: 100%;}
	.dc-openmsg > .dc-dashboardboxtitle{display: none;}
	.dc-openmsg .dc-titlemessages{display: block;}
	.dc-messagebox{display: none;}
	.dc-userlogedin:before{display: none;}
	.dc-dashboardboxtitle .dc-username h3 {
		font-size: 16px;
		font-weight: 400;
		margin: 0 0 5px;
		line-height: 16px;
	}
	.dc-dbsectionspacetest .dc-profilephotocontent.dc-featuredphoto .dc-profilephotocontent .form-group-label > div > .dc-uploadingbox{width: 50%;}
	.dc-form-appointment .dc-spacesholder .dc-radio-holder.form-group-half{width: 60%;}
	.dc-form-appointment .dc-spacesholder .form-group-half{width: 40%;}
	#dc-footer #footer-setting-form > .dc-settingscontent > div > .dc-profilephotocontent .form-group-label > div > .dc-uploadingbox,
	#dc-footer .dc-contactarea > .dc-settingscontent .dc-profilephotocontent .dc-formtheme > fieldset > .form-group-label > div > .dc-uploadingbox,
	.dc-imageone .dc-settingscontent .dc-profilephotocontent .dc-uploadingbox,
	#dc-dashboard-icons .dc-dashboardicons .la-selectthemecolor .dc-settingscontent > .dc-formtheme > .dc-uploadingbox,
	.dc-dashboardicons .dc-selectdesign ul li{width: 50%;}
	.dc-wrap-colors{width: 50%;}
	.dc-wrap-colors:nth-child(4){margin-top:30px; }
	#dc-general-settings #general-setting-form .dc-profilephotocontent > .dc-formtheme > fieldset > .form-group > div > .dc-uploadingbox,
	.dc-emailavatar > .dc-settingscontent > div > .dc-profilephotocontent .form-group-label > div > .dc-uploadingbox,
	#email-setting-form .dc-location > .dc-settingscontent > div > .dc-profilephotocontent .form-group-label > div > .dc-uploadingbox,
	.dc-emaillogo > .dc-settingscontent > div > .dc-profilephotocontent .form-group-label > div > .dc-uploadingbox,
	.dc-sidebar-app-settings .dc-profilephotocontent .form-group > div > .dc-uploadingbox,
	.dc-sidebar-ask-query .dc-profilephotocontent .form-group > div > .dc-uploadingbox,
	.dc-addslider-holder .form-group-label > div > .dc-uploadingbox{width: 50%;}
	.la-article-holder .dc-articles-list .dc-articlecontent{
		float: none;
		width: auto;
		border-left: 0;
		border-radius: 0 4px 4px 0;
	}
	.la-article-holder .dc-listedarticle .dc-articles .dc-articleimg{width: 270px;border-radius: 4px 0 0 4px;}
	.la-article-holder .dc-listedarticle .dc-articles .dc-articleimg > img{max-width: 271px;border-radius: 4px 0 0 4px;}
	.la-article-holder .dc-listedarticle .dc-articles .dc-articleslist-content .dc-articlecontent .dc-title{
		min-width: 140px;
		padding: 20px 30px;
	}
	.dc-downloads-files li{width: 50%;}
	.dc-profilephotocontent .dc-attachfilevtwo li{width: 33.33%;}
	.dc-header-dashboard .dc-navigation > ul > li > a{padding: 10px 20px;}
    .dc-dbsectionspace-test .dc-messages-holder .dc-offersmessages ul li:last-child {
        width: 100%;
        display: none;
    }
	.dc-dbsectionspace-test .dc-dbsectionspace-row .dc-messagebox,
    .dc-dbsectionspace-test .dc-messages-holders .dc-offersmessages ul li:first-child,
    .dc-dbsectionspace-test .dc-messages-holders .dc-dashboardboxtitle {display: none;}
    .dc-dbsectionspace-test .dc-messages-holders .dc-offersmessages ul li:last-child,
    .dc-dbsectionspace-test .dc-messages-holders .dc-titlemessages {display: block;}
    .dc-dbsectionspace-test .dc-messages-holder .dc-offersmessages ul li:first-child {width: 100%;}
}
@media (max-width:800px){
	.sj-paymentmethod li{width: 100%;}
	.sj-paymentmethod li + li{margin-top:20px; }
	.la-offerday-holder .dc-offeraccordion .dc-form-appointment .dc-spacesholder .form-group-half{width: 100%;}
	.dc-clearcache .dc-userform .dc-accountinfo li:nth-child(n+2){padding: 0;}
    .dc-downloads-files li{width: 100%;}
    .dc-offeraccordion .dc-form-appointment .dc-spacesholder .form-group-half,
    .dc-offeraccordion .dc-form-appointment .dc-spacesholder .form-group-half.dc-radio-holder{width: 100%;}
    .dc-dbsectionspacetest .dc-attachfilevtwo li{width: 50%;}
    .dc-accountinfo li{width: 100%}
    .dc-accountinfo li:nth-child(n+2){padding-top: 30px;}
}
@media (max-width:767px){
	.la-gallery-image{width: 50%;}
	table.dc-carttablevtwo tbody td{width: 100%;}
	.dc-search-headerform{
		border-bottom: 1px solid #eee;
	}
	.dc-clinicloc-holder .dc-clinics-content .dc-btnarea{width: 100%;margin-bottom: 0;}
	.dc-clearcache .dc-userform .dc-accountinfo li{width: 50%;}
	.dc-clearcache .dc-userform .dc-accountinfo li:nth-child(n+3){margin-top:10px; }
	.dc-form-appointment{padding: 0 10px;}
	.dc-profilephotocontent .dc-attachfilevtwo li{width: 50%;}
	.dc-wrapper.dc-closemenu .dc-main{padding-left:15px }
	.dc-wrapper .dc-sidebarwrapper{width: 0;}
	.dc-yeartag .dc-tag{
		float: left;
		width: 100%;
		margin-top:10px; 
	}
	.dc-jobalerts .alert span{max-width: 100%;}
	.dc-removeform{display: none;}
	.dc-removeform + .dc-removeform{display:block;}
	.dc-header-dashboard{padding: 0;}
	.dc-search-headerform{padding: 13px 20px;}
	.closeform-holder{width: 5%;float: right;}
	.dc-headerform{width: 95%;min-width: 0;}
	.dc-closemenu .dc-sidebarwrapper .dc-btnmenutoggle i:before,
	.dc-btnmenutoggle i:before{content: "\e68e"}
    .dc-wrapper .dc-main{padding: 20px 15px;}
}
@media (max-width:720px){.dc-spaces-wrap li{width: 33.33%;}}
@media (max-width:640px){
	.dc-dbsectionspacetest .dc-dashboardbox.dc-manageteam-wrap .dc-recentapoint-holder .dc-recentapoint .dc-recentapoint-content{padding: 20px;}
	.dc-dbsectionspacetest .dc-dashboardbox.dc-manageteam-wrap .dc-recentapoint-holder .dc-recentapoint .dc-recentapoint-content .dc-userbtn{margin: 10px 0 0;}
	.dc-apoint-date{
		width: 100%;
		border-left: 0;
		border-bottom: 1px solid #eee;
	}
	.dc-apoint-noti:after{display: none;}
	.dc-apoint-noti{padding-left: 19px;}
	.dc-form-appointment .dc-spacesholder .dc-radio-holder.form-group-half,
	.dc-form-appointment .dc-spacesholder .form-group-half{width: 100%;margin: 0;}
	.dc-skillsform fieldset .form-group{padding-right: 0;}
	.dc-skillsform fieldset .form-group.dc-btnarea{position: static;margin-top:10px; }
	.dc-updatelocation .dc-settingscontent .dc-uploadingbox{width: 50%;}
	.dc-templateoption .dc-designimg{width: 100%;}
	.dc-templateoption .la-designtitle-holder {
		padding: 0;
		width: 100%;
		margin: 30px 0;
	}
	.dc-wrap-colors{width: 100%;}
	.dc-wrap-colors:nth-child(3){margin-top:30px; }
	.la-payout-admin .wt-dashboardboxtitle .dc-rightarea{width: 100%;}
	.la-payout-admin .wt-dashboardboxtitle h3{
		display: block;
		line-height: 24px;
		margin: 0 0 10px
	}
	.la-payout-admin .wt-dashboardboxtitle{padding: 20px 30px;}
	.dc-emailtemplates-holder .dc-dashboardboxtitle.dc-titlewithsearch h2{float: none;margin: 0 0 10px;}
	.dc-emailtemplates-holder .dc-dashboardboxtitle.dc-titlewithsearch .dc-formtheme{width: 100%;}
	.dc-emailtemplates-holder .dc-dashboardboxtitle.dc-titlewithsearch .dc-formtheme + .dc-formtheme{margin:10px 0 0; }
	#submit-personal-details .dc-profilephotocontent > .dc-formtheme .form-group-label > div> .dc-uploadingbox{width: 50%;}
	.la-article-holder .dc-articles-list .dc-articlecontent{
		float: left;
		width: 100%;
		border: 1px solid #eee;
		border-radius: 0 0 4px 4px;
	}
	.la-article-holder .dc-listedarticle .dc-articles .dc-articleimg{width: 100%;border-radius: 4px 4px 0 0;}
	.la-article-holder .dc-listedarticle .dc-articles .dc-articleimg > img{max-width: 100%;border-radius: 4px 4px 0 0}
	.la-article-holder .dc-listedarticle .dc-articles .dc-articleslist-content .dc-articlecontent .dc-title{
		min-width: 0;
		padding: 20px;
	}
	.dc-addays{right: 0;}
	.dc-form-appointment .dc-spacesholder .dc-radio-holder.form-group-half{margin-left: -10px; }
	.dc-personalskillshold .la-upload-holder .avatar_banner_img .dc-uploadingbox.dz-image-preview{width: 50%;}
}
@media (max-width:576px){
	.alert{padding: 15px 30px 15px 20px;}
	.dc-alertbtn{
		float: left;
		margin: 10px 0 0;
		position: static;
	}
	.dc-jobalerts .alert .close{
		top: 10px;
		margin: 0;
	}
	.dc-jobpostedholder > div > div:nth-child(n+2) .dc-insightsitem{margin-top:15px; }
	.dc-userlogedin-gird .dc-viewprofile {grid-row: 2;margin-top:10px; }
    .dc-dbsectionspace-test .dc-username {padding: 0;}
    .dc-dbsectionspace-test .dc-username h3 {
        font-size: 16px;
    }
    .dc-memessage{padding: 0 50px 0 0;}
    .dc-dbsectionspace-test .dc-offerermessage {padding: 0 0 0 50px; }
    .dc-dbsectionspace-test .dc-offerermessage figure,
    .dc-dbsectionspace-test .dc-offerermessage figure img,
    .dc-dbsectionspace-test .dc-memessage figure,
    .dc-dbsectionspace-test .dc-memessage figure img {
        width: 40px;
        height: 40px;
    }
    .dc-offerermessage figure img{height: 40px;}
}
@media (max-width:568px){
	.dc-gallery .la-video-content .video-content .wrap-video,
	.dc-gallery .gallery-image-area.form-group{padding: 0;}
	.la-working-time .dc-userform fieldset .form-group{width: 100%;}
	.la-working-time .dc-userform fieldset .form-group.la-radio-holder{margin: 0;}
	.dc-dashboardboxcontent.dc-offersmessages{padding: 0;}
	.dc-offerermessage{padding: 0 0 0 50px;}
	.dc-dashboardboxcontent.dc-packages{padding: 0;}
	.dc-package{width:100%;border-right: 0;}
	.dc-package:nth-child(n+2){border-top: 1px solid #eff2f5;}
	.sj-checkouttable thead:first-child > tr:first-child > th,
	.sj-checkouttable > tbody > tr > td{padding: 15px 20px;}
	.dc-titlewithbtn.dc-dayspaces-holder .dc-rightarea{margin: 0 0 10px;}
	.dc-form-appointment,
	.dc-providingservices,
	.dc-content-holder{padding: 0;}
	.dc-dashboardboxtitle.dc-titlewithsearch .dc-formtheme + .dc-skilldel{
		margin: 10px 0 10px 20px;
	}
	.dc-openmsg .dc-offersmessages ul li:nth-child(2){padding: 10px;min-height: 839px;}
	.dc-recentapoint-holder{padding:30px 0; }
	.dc-user-header,
	.dc-user-details,
	.dc-apointments-holder,
	.dc-apointments-wrap{padding:30px 10px; }
	.dc-recentapoint-content .dc-recent-content span{display: block;}
	.dc-recent-content .dc-btn{
		float: left;
		margin: 10px 0 0;
	}
	.dc-headerform .dc-formbtn .btn-sm{border-radius: 0 0 4px 0;}
	.dc-userbtn{margin-bottom:0; }
	.dc-navigationarea .dc-rightarea .navbar-toggler{margin: 7px 0;}
	.dc-header-dashboard .dc-logo{margin: 20px 0 0;}
	.dc-dbsectionspacetest .dc-profilephotocontent.dc-featuredphoto .dc-profilephotocontent .form-group-label > div > .dc-uploadingbox{width: 100%;}
	.dc-services-holder .card > .dc-deleteinfo{
		top: 0;
		right: 0;
	}
	.dc-moreservice > .card .dc-panel .dc-deleteinfo-child{right: 20px;top: 35px;}
	.dc-moreservice-content{padding: 30px 10px;}
	.dc-services-holder .dc-accordion > .card{
		border: 0;
		padding: 0;
	}
	.dc-doc-membership .wrap-membership,
	.dc-sidepadding,
	.dc-hostinfo .dc-settingscontent,
	.dc-location .dc-userform,
	.dc-portinfo .dc-settingscontent,
	.la-addcategory-holder .dc-myskills ul,
	.dc-doc-downloads .dc-downloads-files{padding: 0;}
	.dc-doc-awards .dc-formtheme .vdpComponent{width: 100%;}
	.dc-doc-awards .dc-formtheme .vdpComponent input[type="text"]{
		border-top: 0;
		border-radius: 0 0 4px 4px;
	}
	.dc-dashboardboxtitle.dc-titlewithsearch h2 + .dc-rightarea{float: left;}
	.dc-dashboardicons .dc-settingscontent .dc-userform .la-upload-holder .dz-message .form-group-label{text-align: center;}
	.la-payout-admin .wt-dashboardboxtitle .wt-formsearch{
		width: 100%;
		max-width: none;
		margin: 0 0 10px;
		margin-left: -5px; 
	}
	.la-payout-admin .wt-dashboardboxtitle .dc-btn{
		margin: 0;
		float: left;
	}
	.dc-dashboardboxtitle.dc-titlewithsearch h2{
		float: none;
		margin: 0 0 10px;
	}
	.dc-dashboardboxtitle.dc-titlewithsearch .dc-formtheme{float: left;}
	.dc-dashboardboxcontent.dc-categoriescontentholder{padding: 0;}
	.form-group-label .dc-labelgroup{padding: 10px;}
	.dc-header .dc-navigationarea .dc-userlogedin,
	.dc-header-dashboard .dc-userlogedin,
	.dc-articlesservices .dc-formtheme{padding: 0;}
	.dc-articlesservices > .dc-formtheme{padding-bottom: 30px; }
	.dc-usernav ul li:hover .sub-menu{top: 100%;}
	.dc-dbsectionspace-test .dc-messages-holder .dc-offersmessages ul li:last-child{padding: 30px 10px;}
	.dc-titlemessages{padding: 10px 20px;}
	.dc-spaces-wrap li{width: 50%;}
	.dc-addays {
		left: -40px;
		right: auto;
		width: 300px;
	}
	.dc-addays:before{right: auto;left: 55px;}
	.dc-titlewithbtn .dc-rightarea .dc-btn-del{
		clear: both;
		margin-top:10px; 
	}
	.dc-titlewithbtn .dc-rightarea .dc-btn + .dc-btn{
		clear: both;
		margin: 10px 0 0;
	}
	.dc-titlewithbtn .dc-rightarea{
		float: left;
		width: 100%;
		margin-top:10px; 
	}
	.dc-clinics-content{
		float: left;
		width: 100%;
		overflow: visible;
		padding-bottom:0; 
	}
	.dc-accordioninnertitle .dc-rightarea{
		float: left;
		width: 100%;
		margin-top:10px; 
	}
	.dc-addawardsholder .dc-skillsform fieldset .form-group .form-control{width: 100%;}
	.dc-addawardsholder .dc-skillsform fieldset .form-group .form-control:first-child{border-radius: 4px 4px 0 0;border-right: 2px solid #eee;}
	.dc-addawardsholder .dc-skillsform .dc-datepicker:after{top: auto;bottom: 0;}
	.dc-addawardsholder .dc-skillsform fieldset .form-group .form-control:nth-child(n+2){border-top: 0;border-radius: 0 0 4px 4px;}
	.form-select-half .dc-select{width: 100%;}
	.form-select-half .dc-select:first-child select{border-radius: 4px 4px 0 0;}
	.form-select-half .dc-select + .dc-select select{border-top: 0;border-left: 2px solid #eee;border-radius: 0 0 4px 4px;}
	.form-group.form-group-label .la-upload-holder .dropzone.dz-clickable .form-group{text-align: center;}
	.form-group.form-group-label label{
		display: block;
		margin: 0 0 10px;
	}
	.dc-myskills li > span{display: block;}
	.dc-myskills li .dc-rightarea{
		float: left;
		width: 100%;
		margin-top:10px; 
	}
	.dc-userform fieldset .form-group.form-group-half{width: 100%;}
	.dc-dashboardboxcontent,
	.dc-collapseexp{padding: 30px 10px;}
	.dc-skillsform fieldset .form-group{padding: 0;}
	.dc-skillsform fieldset .form-group.dc-btnarea{position: static;margin-top:10px; }
	.dc-skillscontent-holder,
	.dc-yourdetails .dc-userform,
	.dc-experienceaccordion,
	.dc-profilephotocontent{padding: 0;}
	.dc-profilephotocontent .dc-attachfilevtwo li{width: 100%;}
	.dc-btnmenutoggle{top: 150px;}
	.dc-wrapper .dc-sidebarwrapper{padding-top: 120px;}
	.dc-header-dashboard .dc-navigationarea .dc-rightarea{padding: 10px 0;}
	.dc-headerform-holder{float: left;}
	.dc-headerform-holder .dc-searchbtn{margin: 17px 0;}
	.dc-headerform .dc-formbtn{
		top: auto;
		bottom: 0;
	}
	.dc-headerform fieldset .form-group input,
	.dc-headerform fieldset .form-group .dc-select select{border: 0;}
	.dc-headerform fieldset .form-group + .form-group{border-top: 1px solid #ddd;}
	.dc-headerform{
		border: 1px solid #ddd;
		border-radius: 4px;	
	}
	.dc-navigationarea .dc-rightarea{width: auto;float: right;}
}
@media (max-width:480px){
	.dc-uploadingbox.dz-image-preview,
	.la-profilephoto .dc-formtheme .dc-uploadingbox,
	.la-gallery-image{width: 100%;}
	.dc-personalskillshold .la-upload-holder .avatar_banner_img .dc-uploadingbox.dz-image-preview{width: 100%;}
	.la-providing-services .dc-paneltitle .dc-titleicon,
	.la-doc-appointment .dc-paneltitle .dc-titleicon{
		border: 0;
		padding: 0 0 10px;
		margin: 0 0 10px;
		border-bottom: 1px solid #eee;
	}
	.la-providing-services .dc-paneltitle span,
	.la-doc-appointment .dc-paneltitle span{
		float: left;
		width: 100%;
	}
	.dc-subpaneltitlevtwo > .dc-rightarea{width: 100%;}
	.dc-moreservice-content .dc-checkbox-holder .dc-checkbox{width: 100%;}
	.dc-moreservice-content .dc-checkbox-holder .dc-checkbox + input + span,
	.la-providing-services .dc-providingservices .dc-panel .dc-moreservice-content .dc-checkbox-holder .dc-checkbox + input + span,
	.la-doc-appointment .dc-moreservice-content .dc-checkbox-holder .dc-checkbox + input + span{margin-top: 10px;}
	#submit-personal-details .dc-profilephotocontent > .dc-formtheme .form-group-label > div> .dc-uploadingbox,
	.dc-updatelocation .dc-settingscontent .dc-uploadingbox{width: 100%;}
	.dc-clearcache .dc-userform .dc-accountinfo li{width: 100%;}
	.dc-clearcache .dc-userform .dc-accountinfo li:nth-child(n+2){margin-top:10px; }
	#dc-footer #footer-setting-form > .dc-settingscontent > div > .dc-profilephotocontent .form-group-label > div > .dc-uploadingbox,
	.dc-imageone .dc-settingscontent .dc-profilephotocontent .dc-uploadingbox,
	#dc-footer .dc-contactarea > .dc-settingscontent .dc-profilephotocontent .dc-formtheme > fieldset > .form-group-label > div > .dc-uploadingbox,
	#dc-dashboard-icons .dc-dashboardicons .la-selectthemecolor .dc-settingscontent > .dc-formtheme > .dc-uploadingbox,
	.dc-dashboardicons .dc-selectdesign ul li{width: 100%;}
	.dc-emailavatar > .dc-settingscontent > div > .dc-profilephotocontent .form-group-label > div > .dc-uploadingbox,
	#email-setting-form .dc-location > .dc-settingscontent > div > .dc-profilephotocontent .form-group-label > div > .dc-uploadingbox,
	.dc-emaillogo > .dc-settingscontent > div > .dc-profilephotocontent .form-group-label > div > .dc-uploadingbox,
	#dc-general-settings #general-setting-form .dc-profilephotocontent > .dc-formtheme > fieldset > .form-group > div > .dc-uploadingbox,
	.dc-accountsettingholder .tab-pane .dc-formtheme .form-group-label > div > .dc-uploadingbox,
	.dc-sidebar-app-settings .dc-profilephotocontent .form-group > div > .dc-uploadingbox,
	.dc-sidebar-ask-query .dc-profilephotocontent .form-group > div > .dc-uploadingbox{width: 100%;}
	.dc-sectionsettings .la-switch-option h3,
	.la-switch-option h3,
	.dc-search-banner-settings .la-switch-option h3{float: none;}
	.la-switch-option .float-right{
		margin-top:10px; 
		float: left !important;
	}
	.la-switch-option .float-right .switch-button-control{margin: 0;}
	.dc-paypalsettings .la-switch-option h3,
	.la-switch-option h2{float: none;}
	.dc-user-info{width: 100%;}
	.dc-updatall{padding: 10px;}
	.dc-files-content{position: relative;}
	 .dc-filecontent a{
		right: 10px;
		top: 10px;
		padding: 0;
		margin: 0;
		position: absolute;
    }
	.dc-tabscontent{padding:30px 10px;}
}
@media (max-width:360px){.dc-spaces-wrap li{width: 100%;}}
@media(max-width: 768px){
	.dc-dbsectionspacetest .dc-featuredphoto .dc-profilephotocontent{padding: 0;}
    .dc-dbsectionspacetest .dc-user-header{padding: 30px 10px;}
    .dc-dbsectionspacetest .dc-dashboardbox .dc-user-details{padding: 30px 10px;}
    .dc-dbsectionspacetest .dc-titlewithbtn{padding: 23px 10px 20px 10px;}
    .dc-dbsectionspacetest .dc-dashboardboxcontent{padding: 30px 10px;}
    .dc-dbsectionspacetest .dc-dashboardbox .dc-dashboardboxcontent.dc-offerday-holder .dc-clinics{padding: 19px 10px;}
    .dc-dbsectionspacetest .dc-dashboardbox .dc-dashboardboxcontent.dc-offerday-holder .dc-tabscontenttitle{padding: 10px;}
    .dc-dbsectionspacetest .dc-dashboardbox .dc-dashboardboxcontent.dc-offerday-holder .dc-childaccordion.dc-offeraccordion .dc-subpanel .dc-subpaneltitle.dc-subpaneltitlevtwo{padding: 10px;}
    .dc-dbsectionspacetest .dc-dashboardbox .dc-dashboardboxcontent.dc-offerday-holder .dc-childaccordion.dc-offeraccordion .dc-subpanel .dc-subpanelcontent .dc-dayspaces-holder.dc-titlewithbtn{padding: 30px 10px;}
    .dc-dbsectionspacetest .dc-dashboardbox .dc-dashboardboxcontent.dc-offerday-holder .dc-formtheme.dc-userform.dc-form-appointment{padding: 0 10px;}
    .dc-dbsectionspacetest .dc-dashboardbox .dc-dashboardboxtitle{padding: 25px 10px}
    .dc-dbsectionspacetest .dc-dashboardbox .dc-dashboardboxcontent.dc-appsetting .dc-providingservices{padding: 0 10px}
    .dc-dbsectionspacetest .dc-dashboardbox .dc-dashboardboxcontent.dc-appsetting .dc-providingservices .dc-select select{padding: 10px}
    .dc-dbsectionspacetest .dc-dashboardbox .dc-dashboardboxcontent.dc-appsetting .dc-providingservices .dc-accordion .dc-panel .dc-paneltitle{padding: 10px}
    .dc-dbsectionspacetest .dc-dashboardbox .dc-dashboardboxcontent.dc-appsetting .dc-providingservices .dc-accordion .dc-panel .dc-panelcontent{padding: 30px 10px}
    .dc-dbsectionspacetest .dc-dashboardboxcontent .dc-content-holder{padding: 0 10px}
    .dc-dbsectionspacetest .dc-dashboardboxcontent .dc-content-holder .dc-clinics{padding: 19px 10px}
    .dc-dbsectionspacetest .dc-dashboardboxcontent .dc-form-appointment{padding: 0 10px;}
    .dc-dbsectionspacetest .dc-dashboardboxcontent .dc-form-appointment fieldset .form-group{width: 100%}
    .dc-dbsectionspacetest .dc-articlesservices .dc-formtheme{padding: 0px 10px 30px;}
    .dc-dbsectionspacetest .dc-profilephotocontent{padding: 0 10px;}
    .dc-dbsectionspacetest .dc-formtheme.dc-formprojectinfo.dc-formcategory{padding: 0;}
    .dc-dbsectionspacetest .dc-formprojectinfo .form-group .dc-attachfile{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .dc-dbsectionspacetest .dc-attachfilevtwo li{width: unset;}
    .dc-dbsectionspacetest .dc-articletag-holder{padding: 0;}
    .dc-dbsectionspacetest .dc-articletag-holder .dc-formtheme{padding: 0}
    .dc-dbsectionspacetest .dc-offered-holder .dc-dashboardboxcontent .dc-accordion{padding: 0 10px}
    .dc-dbsectionspacetest .dc-paneltitle{padding: 10px}
    .dc-dbsectionspacetest .dc-subpaneltitlevtwo{padding: 10px}
    .dc-dbsectionspacetest .dc-addservices .dc-userform{padding: 0 10px 30px}
    .dc-dbsectionspacetest .dc-dashboardbox.dc-manageteam-wrap .dc-searchresult-head{padding: 19px 10px}
    .dc-dbsectionspacetest .dc-dashboardbox.dc-manageteam-wrap .dc-recentapoint-holder{padding: 30px 10px}
    .dc-recentapoint-holdertest{padding: 30px 10px}
    .dc-dbsectionspacetest .dc-articlesservices .la-article-category{padding-bottom: 0;}
}
@media(max-width : 660px){
    .dc-dbsectionspacetest .dc-dashboardbox .dc-dashboardboxcontent .dc-listedarticle .dc-articles .dc-articleslist-content .dc-article{display: grid;}
    .dc-dbsectionspacetest .dc-articles-list .dc-articleimg{
        width: 100%;
        border-radius: 4px 4px 0 0;
    }
    .dc-dbsectionspacetest .dc-listedarticle .dc-articles .dc-articleimg img{max-width: none;}
    .dc-dbsectionspacetest .dc-listedarticle .dc-articles .dc-articlecontent .dc-title{padding: 0 10px}
    .dc-dbsectionspacetest .dc-listedarticle .dc-articles .dc-articlecontent .dc-optionarea{padding: 10px}
    .dc-dbsectionspacetest .dc-listedarticle .dc-articles .dc-articlecontent{
        border: 1px solid #eee;
        border-radius: 0 0 4px 4px;
    }
}
@media(max-width: 650px){
    .dc-dbsectionspacetest .dc-dashboardbox .dc-user-header{
        grid-template-columns: auto 1fr;
        grid-row-gap: 20px;
    }
    .dc-dbsectionspacetest .dc-dashboardbox .dc-user-header .dc-status-test{
        grid-area: 2/1/3/3;
        justify-self: start;
    }
    .dc-dbsectionspacetest .dc-user-info.dc-info-required{grid-template-columns: 1fr;}
    .dc-title-test{grid-area: 3;}
    .dc-dbsectionspacetest .dc-dashboardbox .dc-dashboardboxcontent.dc-offerday-holder .dc-formtheme.dc-userform.dc-form-appointment fieldset .form-group{width: 100%;}
    .dc-dbsectionspacetest .dc-dashboardbox .dc-dashboardboxcontent.dc-appsetting .dc-providingservices .dc-accordion .dc-panel .dc-panelcontent .dc-checkbox-holder .dc-checkbox{width: 100%}
    .dc-dbsectionspacetest .dc-dashboardbox .dc-dashboardboxcontent.dc-appsetting .dc-providingservices .dc-accordion .dc-panel .dc-panelcontent .dc-checkbox-holder .dc-checkbox:nth-child(n+2){margin-top: 10px;}
    .dc-dbsectionspacetest .dc-dashboardboxcontent .dc-content-holder .dc-clinics .dc-clinics-content{
        display: flex;
        flex-direction: column;
    }
    .dc-dbsectionspacetest .dc-dashboardboxcontent .dc-form-appointment fieldset .form-group.dc-checkbox-holder{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-row-gap: 20px;
    }
    .dc-dbsectionspacetest .dc-dashboardboxcontent .dc-form-appointment fieldset .form-group.dc-checkbox-holder .dc-checkbox{margin: 0}
    .dc-dbsectionspacetest .dc-dashboardbox.dc-manageteam-wrap .dc-recentapoint-holder .dc-recentapoint .dc-recent-content{
        display: grid;
        grid-template-columns: 1fr;
    }
    .dc-dbsectionspacetest .dc-dashboardbox.dc-manageteam-wrap .dc-recentapoint-holder .dc-recentapoint .dc-recent-content .dc-recent-contenttest{justify-self: start} 
}
@media(max-width: 576px){
	.dc-offerermessage figure, .dc-memessage figure{
		width: 40px;
		height: 40px;
	}
    .dc-recentapoint-holdertest .dc-recent-content span{width: 100%;}
    .dc-recentapoint-holdertest .dc-recent-content a{
        float: left;
        margin: 5px 0;
    }
    .dc-dbsectionspacetest .dc-dashboardbox .dc-user-steps{
        display: grid;
        justify-items: center;
        grid-row-gap: 20px;
    }
    .dc-user-grid{
        display: grid;
        grid-template-columns: 1fr;
    }
    .dc-user-grid .dc-user-info:nth-child(n+2){margin-top: 33px;}
    .dc-dbsectionspacetest .dc-dashboardbox .dc-dashboardboxtitle.dc-titlewithbtn{
        display: grid;
        grid-row-gap: 10px;
    }
    .dc-dbsectionspacetest .mce-container-body.mce-flow-layout{
        display: grid;
        grid-template-columns: auto auto auto auto auto;
    }
    .dc-dbsectionspacetest .mce-flow-layout-item.mce-last{
        grid-area: 2/1/3/3;
        border: 0;
    }
    .dc-dbsectionspacetest .dc-subpaneltitlevtwo{
        display: grid;
    }
    .dc-dbsectionspacetest .dc-subpaneltitlevtwo .dc-rightarea{
        justify-self: end;
    }
}
@media (max-width: 480px){
	.dc-socials-form fieldset.dc-socialiconscontent .form-group .dc-select,
	.dc-socials-form .dc-socialiconscontent .wrap-social-icons .form-group-holder .dc-social-url-half{
		width: 100%;
	}
	.dc-socials-form .dc-socialiconscontent .wrap-social-icons .form-group-holder .dc-social-url-half{margin: 10px 0 0;}
	.la-switch-option .switch-button-control{
		margin-top:10px; 
		justify-content: flex-start;
	}
    .dc-dbsectionspacetest .dc-dashboardbox .dc-user-header{
        grid-template-columns: 1fr;
        grid-row-gap: 0;
    }
    .dc-dbsectionspacetest .dc-dashboardbox .dc-user-header .dc-status-test{grid-area: unset;}
    .dc-recentapoint-holdertest ul li a{width: 24px;}
    .dc-recentapoint-holdertest .dc-recentapoint{flex-direction: column;}
    .dc-recentapoint-holdertest .dc-apoint-date{border-bottom: 1px solid #eee;}
    .dc-dbsectionspacetest .dc-dashboardbox .dc-dashboardboxcontent.dc-offerday-holder .dc-clinics{
        display: flex;
        flex-direction: column;
    }
    .dc-dbsectionspacetest .dc-dashboardboxcontent .dc-content-holder .dc-clinics{
        display: flex;
        flex-direction: column;
    }
    .dc-dbsectionspacetest .form-group-label .dc-labelgroup{
        display: grid;
        justify-items: center;
    }
    .dc-dbsectionspacetest .dc-formprojectinfo .form-group .dc-attachfile{
        grid-template-columns: 1fr;
    }
    .dc-dbsectionspacetest .dc-articletag-holder .dc-formtheme fieldset .form-group{padding-right: 0;}
    .dc-dbsectionspacetest .dc-articletag-holder .dc-formtheme fieldset .form-group.dc-btnarea{
        position: unset;
        margin-top: 20px;
    }
    .dc-dbsectionspacetest .form-group.form-group-half{width: 100%}
}
@media(max-width : 458px){
    .dc-title-socialicons{
        margin-left: 0 !important;
        padding-left: 60px; 
    }
}
@media(max-width : 450px){
    .dc-dbsectionspacetest .dc-dashboardbox .dc-user-steps .dc-btnarea{
        display: flex;
        flex-direction: column;
    }
    .dc-dbsectionspacetest .dc-dashboardbox .dc-user-steps .dc-btnarea a + a{
        margin-left: 0;
        margin-top: 20px;
    }
    .dc-dbsectionspacetest .mce-container.mce-flow-layout-item.mce-btn-group:nth-last-child(2){
        grid-area: 2/1/3/2;
        border: 0;
    }
    .dc-dbsectionspacetest .mce-flow-layout-item.mce-last{
        grid-area: 2/2/3/5;
        border-left: 1px solid #d9d9d9;
    }
    .dc-dbsectionspacetest .dc-manageteam-wrap .dc-searchresult-head .dc-rightarea .dc-select + .dc-select{margin-left: 0;}
    .dc-dbsectionspacetest .dc-dashboardbox.dc-manageteam-wrap .dc-searchresult-head .dc-rightarea{
        display: grid;
        grid-row-gap: 20px;
    }
    .dc-dbsectionspacetest .dc-dashboardbox.dc-manageteam-wrap .dc-recentapoint-holder .dc-recentapoint .dc-recent-content .dc-recent-contenttest{
        display: grid;
    }
    .dc-dbsectionspacetest .dc-dashboardbox.dc-manageteam-wrap .dc-recentapoint-holder .dc-recentapoint .dc-recent-content .dc-recent-contenttest a:first-child{margin: 10px 0 2px}
}
@media(max-width : 420px){
	.sj-paymentmethod li a i{
		width: 100%;
		text-align: left;
		border: 0;
		border-bottom: 1px solid #eee;
	}
	.sj-paymentmethod li a span{padding: 10px 0 0;}
}
@media(max-width : 380px){
	.dc-dashboardboxtitle.dc-titlewithsearch .dc-formtheme + .dc-skilldel{
		clear: both;
		float: left;
		margin: 10px 0 0;
	}
    .dc-dbsectionspacetest .dc-dashboardbox .dc-dashboardboxtitle.dc-titlewithbtn .dc-rightarea{
        display: flex;
        flex-direction: column;
    }
    .dc-dbsectionspacetest .dc-dashboardbox .dc-dashboardboxtitle.dc-titlewithbtn .dc-rightarea .dc-addays-holder{
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    .dc-dbsectionspacetest .dc-dashboardbox .dc-dashboardboxcontent.dc-offerday-holder .dc-childaccordion.dc-offeraccordion .dc-subpanel .dc-subpaneltitle.dc-subpaneltitlevtwo{
        display: grid;
        justify-items: center;
        grid-row-gap: 10px;
    }
    .dc-dbsectionspacetest .dc-dashboardboxcontent .dc-form-appointment fieldset .form-group.dc-checkbox-holder{grid-template-columns: auto auto;}
    .dc-dbsectionspacetest .dc-listedarticle .dc-articles .dc-articlecontent .dc-optionarea{
        display: grid;
        grid-row-gap: 5px;
    }
    .dc-dbsectionspacetest .dc-pagination ul li a.dc-nextpage, .dc-pagination ul li a.dc-nextpage, .dc-pagination ul li a i, .dc-pagination ul li a,.dc-pagination ul li span{
        width: 23px;
    }
}
@media(max-width : 341px){
    .dc-title-socialicons{
        padding-left: 0;
    }
    .dc-cardtitle-firstuser .dc-title-content{
        padding-left: 0;
        width: 100%;
    }
    .dc-dbsectionspacetest .dc-dashboardbox.dc-manageteam-wrap .dc-recentapoint-holder .dc-recentapoint .dc-recentapoint-content{
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
    }
    .dc-recentapoint-holdertest .dc-recentapoint-content{padding-left: 35px}
    .dc-recentapoint-holdertest .dc-apoint-noti:after{left: 15px;} 
}
@media(min-width : 380px){
    .dc-rightarea-test{
        flex-direction: row;
    }
    .dc-apointments-wrap .dc-searchresult-head .dc-rightarea-test .dc-select + .dc-select{
        margin-left: 10px;
        margin-top: 0;
    }
}
@media(min-width : 768px){
    .dc-appointment-border{
        width: 20%;
    }
    .dc-main-circle{
        left: 40%;
    }
    .dc-apointments-wraptest{
        padding: 30px;
    }
    .dc-apointments-holder-test{
        padding: 30px;
    }
}
@media(min-width : 768px) and (max-width : 860px){
    .dc-dbsectionspacetest .dc-dashboardboxcontent .dc-form-appointment fieldset .form-group{width: 100%;}
}
@media(min-width : 801px){
    .dc-wrapper .dc-sidebarwrappertest {
        display: block;
    }
}
@media(min-width : 992px){
    .dc-appointment-border{
        width: 40%;
    }
    .dc-main-circle {
        left: 45%;
    }
}
@media(min-width: 992px) and (max-width: 1650px){
    .dc-dbsectionspacetest .dc-dashboardboxcontent .dc-form-appointment fieldset .form-group {width: 100%;}
}
@media(min-width: 992px) and (max-width: 1576px){
    .dc-dbsectionspacetest .dc-dashboardbox .dc-dashboardboxcontent.dc-offerday-holder .dc-formtheme.dc-userform.dc-form-appointment fieldset .form-group{width: 100%;}
    .dc-dbsectionspacetest .dc-dashboardbox .dc-dashboardboxcontent.dc-appsetting .dc-providingservices .dc-accordion .dc-panel .dc-panelcontent .dc-checkbox-holder .dc-checkbox{width: 100%}
    .dc-dbsectionspacetest .dc-dashboardbox .dc-dashboardboxcontent.dc-appsetting .dc-providingservices .dc-accordion .dc-panel .dc-panelcontent .dc-checkbox-holder .dc-checkbox:nth-child(n+2){margin-top: 10px;}
    .dc-dbsectionspacetest .dc-dashboardboxcontent .dc-content-holder .dc-clinics .dc-clinics-content{
        display: flex;
        flex-direction: column;
    }
    .dc-dbsectionspacetest .dc-dashboardboxcontent .dc-form-appointment fieldset .form-group.dc-checkbox-holder .dc-checkbox {margin: 0;}
    .dc-dbsectionspacetest .dc-dashboardboxcontent .dc-form-appointment fieldset .form-group.dc-checkbox-holder{
        display: grid;
        grid-row-gap: 20px;
    }
    .dc-dbsectionspacetest .dc-dashboardbox .dc-dashboardboxcontent .dc-listedarticle .dc-articles .dc-articleslist-content .dc-article {display: grid;}
    .dc-dbsectionspacetest .dc-articles-list .dc-articleimg {
        width: 100%;
        border-radius: 4px 4px 0 0;
    }
    .dc-dbsectionspacetest .dc-listedarticle .dc-articles .dc-articleimg img {max-width: none;}
    .dc-dbsectionspacetest .dc-listedarticle .dc-articles .dc-articlecontent {
        border: 1px solid #eee;
        border-radius: 0 0 4px 4px;
    }
    .dc-dbsectionspacetest .dc-formprojectinfo .form-group .dc-attachfile{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .dc-dbsectionspacetest .dc-attachfilevtwo li {width: unset;}
    .dc-accountinfo li{width: 100%}
    .dc-accountinfo li:nth-child(n+2){padding-top: 30px;}
    .dc-clearcache .dc-userform .dc-accountinfo li:nth-child(n+2){padding: 0;}
}
@media(min-width: 992px) and (max-width: 1370px){
    .dc-dbsectionspacetest .dc-user-info.dc-info-required{grid-template-columns: 1fr;}
    .dc-title-test{grid-area: 3;}
    .dc-dbsectionspacetest .dc-dashboardboxcontent .dc-form-appointment fieldset .form-group.dc-checkbox-holder{grid-template-columns: auto auto auto;}
    .dc-dbsectionspacetest .dc-dashboardbox.dc-manageteam-wrap .dc-recentapoint-holder .dc-recentapoint .dc-recentapoint-content::after{top: 40px;}
   
}
@media(min-width: 992px) and (max-width: 1250px){
    .dc-dbsectionspacetest .dc-dashboardbox .dc-user-steps{
        display: grid;
        justify-items: center;
        grid-row-gap: 20px;
    }
    .dc-dbsectionspacetest .dc-dashboardbox .dc-dashboardboxtitle.dc-titlewithbtn{
        display: grid;
        grid-row-gap: 10px;
    }
    .dc-dbsectionspacetest .dc-dashboardbox .dc-dashboardboxcontent.dc-offerday-holder .dc-clinics{
        display: flex;
        flex-direction: column;
    }
    .dc-dbsectionspacetest .dc-dashboardboxcontent .dc-content-holder .dc-clinics{
        display: flex;
        flex-direction: column;
    }
    .dc-dbsectionspacetest .mce-container-body.mce-flow-layout {
        display: grid;
        grid-template-columns: repeat(5, auto);
    }
    .dc-dbsectionspacetest .mce-flow-layout-item.mce-last {
        grid-area: 2/1/3/3;
        border: 0;
    }
    .dc-dbsectionspacetest .form-group-label .dc-labelgroup {
        display: grid;
        justify-items: center;
    }
    .dc-dbsectionspacetest .dc-formprojectinfo .form-group .dc-attachfile{
        grid-template-columns: 1fr;
    }
    .dc-dbsectionspacetest .dc-articletag-holder .dc-formtheme fieldset .form-group{padding-right: 0;}
    .dc-dbsectionspacetest .dc-articletag-holder .dc-formtheme fieldset .form-group.dc-btnarea{
        position: unset;
        margin-top: 20px;
    }
    .dc-dbsectionspacetest .dc-subpaneltitlevtwo {
        display: grid;
    }
    .dc-dbsectionspacetest .dc-subpaneltitlevtwo .dc-rightarea{
        justify-self: end;
    }
    .dc-dbsectionspacetest .form-group.form-group-half{width: 100%}
    .dc-dbsectionspacetest .dc-dashboardbox.dc-manageteam-wrap .dc-searchresult-head .dc-rightarea{
        margin-top: 10px;
        width: 100%;
    }
}
@media(min-width: 992px) and (max-width: 1004px){
    .dc-dbsectionspacetest .dc-dashboardbox.dc-manageteam-wrap .dc-recentapoint-holder .dc-recentapoint .dc-recentapoint-content{display: grid;}
}
@media(min-width: 1200px){
    .dc-recentapointdate-test{min-width: 220px;}
}
@media(min-width: 1200px) and (max-width: 1440px){
    .dc-recentapoint-holdertest .dc-recent-content span{width: 100%}
    .dc-recentapoint-holdertest .dc-recent-content .dc-btn{float: left;}
    .dc-offeraccordion .dc-form-appointment .dc-spacesholder .form-group-half,
    .dc-offeraccordion .dc-form-appointment .dc-spacesholder .form-group-half.dc-radio-holder{width: 100%;}
}
@media(min-width : 1371px) and (max-width: 1576px){
    .dc-dbsectionspacetest .dc-dashboardboxcontent .dc-form-appointment fieldset .form-group.dc-checkbox-holder{grid-template-columns: auto auto auto auto;}
}
@media(min-width : 1600px){
    .dc-apointments-holder-test{
        flex-direction: row;
    }
    .dc-dashes{
        transform: none;
    }
    .dc-appointment-border{
        transform: none;
        height: auto;
        width: 20%;
    }
    .dc-recentapoint-test{
        width: 40%;
    }
    .dc-appointment-calendartest{
        width: 66%;
    }
}
@media (max-width: 1199px) and (min-width: 992px){
    .dc-dbsectionspace-test .dc-offerermessage {padding: 0 0 0 50px;}
    .dc-dbsectionspace-test .dc-memessage {padding: 0 50px 0 0;}
    .dc-dbsectionspace-test .dc-offerermessage figure,
    .dc-dbsectionspace-test .dc-offerermessage figure img,
    .dc-dbsectionspace-test .dc-memessage figure,
    .dc-dbsectionspace-test .dc-memessage figure img{
        width: 40px;
        height: 40px;
    }
}